services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Pinacoteca
      MYSQL_USER: usuario1
      MYSQL_PASSWORD: contrasenyaUsuario1
    volumes:
      - ./mysql/pinacoteca.sql:/docker-entrypoint-initdb.d/pinacoteca.sql
    ports:
      - "3306:3306"